<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Bill Splitting</title>
</head>
<body>
	<%= stylesheet_link_tag "/master", :media => "all" %>
	<%= javascript_include_tag '/app_master' %>

<div class="page-in">
<div class="page">
<div class="main">

	<div class="header">
		<div class="header-top">
		<h1>Bill <span>Splitting</span></h1>
		</div>
		<div class="topmenu">
		<ul>
		  <li style="background: transparent none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; padding-left: 0px;"><a href="#"><span>Home</span></a></li>
		  <li><a href="#"><span>About&nbsp;us</span></a></li>
		  <li><a href="#"><span>What's&nbsp;new</span></a></li>
		</ul>
		</div>
	</div>

	<div class="content">
		<div class="content-left">
			<div class="row1">
				<% if flash[:success] %>
    			<div class="success_msg"><%= flash[:success] %></div>
  			<% end %>
			</div>
			<div class="row2">
				<button type="button" id="add_bill" class="add_btn">ADD BILL</button>
				<div id="bill_event_form" hidden></div>
					<div id="who_owes_what_block" class="who_owes_what_block">
						<%= get_who_owes_what_block(@final_hash) %>
					</div>
			</div>
		</div>

		<div class="content-right">
		</div>
	</div>

	<div class="footer">
	</div>
</div>
</div>
</div>

</body></html>