body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d5051;
	background-color: #d6d6d6;
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
a {
	color: #072FCF;
	text-decoration: underline;
}
a:hover {
	color: #072FCF;
	text-decoration: none;
}
.page-in {
	background-repeat: repeat-x;
	background-position: left bottom;
	width: 100%;
	float: left;
}
.page {
	width: 1000px;
	margin: 0px auto;
}
.main, .header {
	width: 1000px;
	float: left;
}
.header-top {
	background-repeat: no-repeat;
	background-position: left top;
	width: 1000px;
	height: 81px;
	float: left;
}
.header-top h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 55px;
	font-weight: normal;
	line-height: 81px;
	color: #FFFFFF;
	margin-left: 115px;
}
.header-top h1 span {
	color: #000000;
}
.header-bottom {
	background-repeat: no-repeat;
	background-position: left top;
	width: 1000px;
	height: 257px;
	float: left;
}
.header-bottom h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin-top: 92px;
	margin-left: 27px;
}
.topmenu {
	background-repeat: no-repeat;
	background-position: left top;
	width: 1000px;
	height: 74px;
	float: left;
}
.topmenu ul {
	height: 74px;
	margin-left: 64px;
	list-style-type: none;
}
.topmenu ul li {
	background-repeat: no-repeat;
	background-position: left top;
	height: 74px;
	float: left;
	padding-right: 13px;
	padding-left: 13px;
}
.topmenu ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 74px;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 74px;
	float: left;
	padding-left: 15px;
}
.topmenu ul li a span {
	display: block;
	height: 74px;
	float: left;
	padding-right: 35px;
	cursor: pointer;
}
.topmenu ul li a:hover {
	background-repeat: no-repeat;
	background-position: left top;
	color: #000000;
}
.topmenu ul li a:hover span {
	background-repeat: no-repeat;
	background-position: right top;
	color: #000000;
}
.content {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left top;
	width: 952px;
	float: left;
	padding: 30px 24px 0px 24px;
	height: 600px;
}
.content-left {
	background-repeat: repeat-y;
	background-position: right top;
	width: 621px;
	float: left;
	padding-right: 21px;
}
.row1 {
	width: 621px;
	float: left;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color: #000000;
	margin-bottom: 30px;
}
.title span {
	color: #82ab01;
}
.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}
ul.list1 {
	margin-top: 5px;
	margin-left: 25px;
}
ul.list1 li {
	padding-top: 3px;
	padding-bottom: 3px;
}
.row2 {
	background-repeat: no-repeat;
	background-position: left top;
	width: 591px;
	height: 233px;
	float: left;
	padding: 15px 15px 0px 15px;
}
.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #171817;
	margin-bottom: 10px;
}
.subtitle span {
	color: #607e00;
}
a.more {
	font-size: 12px;
	line-height: 30px;
	color: #282828;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	display: block;
	width: 83px;
	height: 38px;
	margin-top: 10px;
}
a.more:hover {
	color: #607e00;
}
.content-right {
	width: 310px;
	float: right;
	padding-top: 7px;
}
.mainmenu, .contact {
	width: 310px;
	float: right;
}
.sidebar1 {
	font-size: 18px;
	line-height: 50px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left top;
	height: 50px;
	padding-left: 60px;
	margin-bottom: 15px;
}
.mainmenu ul {
	margin-bottom: 15px;
	list-style-type: none;
}
.mainmenu ul li {
	background-repeat: no-repeat;
	background-position: left center;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
}
.mainmenu ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.mainmenu ul li a:hover {
	text-decoration: none;
}
.sidebar2 {
	font-size: 18px;
	line-height: 50px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left top;
	height: 50px;
	padding-left: 60px;
	margin-bottom: 10px;
}
.contact-detail {
	background-color: #dcdcdc;
	width: 280px;
	float: right;
	padding: 15px;
}
.contact-detail p {
	margin-bottom: 10px;
}
.green {
	color: #003300;
}
.footer {
	line-height: 69px;
	background-repeat: no-repeat;
	background-position: left top;
	width: 952px;
	height: 69px;
	float: left;
	padding: 23px 24px 0px 24px;
}
.footer p {
	font-size: 11px;
	color: #FFFFFF;
	float: left;
}
.footer a {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: none;
}
.footer ul {
	float: right;
}
.footer ul li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.footer ul li a {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer ul li a:hover {
	text-decoration: underline;
}
.table-condensed {
  position: absolute;
  left: 32%;
  top: 35%;
  background-color: LightGreen;
}
.bill_event_form {
	padding: 5px;
  background-color: lightblue;
}
.frm_submit_btn {
	padding: 4px;
  background-color: lightgreen;
  width: 79px;
}
.success_msg {
  position: relative;
  left: 233px;
  color: green;
  font-size: large;
}
.add_btn {
  padding: 6px;
  background-color: aqua;
  width: 82px;
 }
.cancel_btn {
  margin-left: 8px;
  padding: 4px;
  width: 65px;
}
.presentee_block {
	    position: relative;
    left: 28px;
    padding: 4px;
    margin: 4px;
    height: 24px;
    background-color: beige;
    width: 338px;
}
.who_owes_what_block {
  margin-top: 32px;
  background-color: antiquewhite;
  padding: 20px;
}
.user_owe_block {
  padding: 4px;
  margin-top: 8px;
  line-height: 17px;
  background-color: aquamarine;
  width: 219px;
  border-style: inset;
}
.user_name_main {
  border-style: outset;
  text-align: center;
  margin-bottom: 7px;
  color: brown;
  font-weight: bold;
  font-size: large;
  padding: 3px;
}
.owe_info_span {
  color: black;
  margin: 3px;
  padding: 3px;
}
.owe_block_header {
  text-align: center;
  margin-bottom: 18px;
  font-weight: bolder;
  font-size: large;
  border-style: double;
  color: currentColor;
}